@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row g-5 row-cols-1 row-cols-lg-2">
        <div class="col order-last order-lg-first">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                App Name: A Coding Project
            </h1>
            <h4 class="lead">
                Live life one loop at a time. A C# coding exercise using loops. Write a program
                that displays the numbers from 0 to 100. Display the even numbers in <strong>BOLD</strong>
            </h4>
            <ul class="fa-ul pt-2 checklist">
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>HTML5</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSS & Bootstrap Layout</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>MVC - Model View Controller</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Fundamentals</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Loops</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Functions</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# If/Then/Else</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Boolean Logic</li>
            </ul>
            <div>
                <a asp-controller="Home" asp-action="App" class="btn btn-outline-dark btn-lg px-4 me-md-2" >
                    Try It Out!
                </a>
            </div>
            <h5 class="fw-bold mt-5">
                <div class="d-flex">
                    <div class="row">
                        <div class="col"><i class="fab fa-html5 fa-4x html5icon"></i></div>
                        <div class="col"><i class="fab fa-css3-alt fa-4x cssicon"></i></div>
                        <div class="col"><i class="fab fa-bootstrap fa-4x bsicon"></i></div>
                        <div class="col"><i><img width="80" height="80" src="https://img.icons8.com/nolan/64/c-sharp-logo.png" alt="c-sharp-logo" /></i></div>
                    </div>
                </div>
            </h5>
        </div>
        <div class="col">
            <img src="img/app-logo.svg" class="img-fluid center-block d-block mx-auto" alt="App Logo" width="700" height="500">
        </div>
    </div>
</div>
