:root {
    --primary-color: #1D5888;
    --secondary-color: #FF993B;
    --dark-color: #292929;
    --white-color: #E7E7E7;
}

footer {
    background-color: var(--dark-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

footer {
    padding-right: 1rem;
}

    footer .social > a {
        color: var(--white-color);
        opacity: 0.75;
    }

        footer .social > a:hover {
            opacity: 0.9;
            color: var(--secondary-color);
        }

main > .container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.devicons {
    font-size: 4rem;
}

.checklist > li i {
    color: var(--secondary-color);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ensures body fills the viewport */
}